<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Archivist</string>
	<key>CFBundleExecutable</key>
	<string>Archivist</string>
	<key>CFBundleIdentifier</key>
	<string>app.archivist.Archivist</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Archivist</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSUIElement</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.tar-archive</string>
				<string>public.archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>com.apple.disk-image</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string><string>zipx</string><string>7z</string><string>rar</string>
				<string>tar</string><string>gz</string><string>tgz</string><string>bz2</string>
				<string>tbz2</string><string>xz</string><string>txz</string><string>zst</string>
				<string>lz4</string><string>lzma</string><string>lz</string><string>cab</string>
				<string>iso</string><string>cpio</string><string>wim</string><string>jar</string>
				<string>apk</string><string>ipa</string><string>xip</string><string>cpgz</string>
				<string>dmg</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Compress with Archivist</string>
			</dict>
			<key>NSMessage</key>
			<string>compressHereRAR</string>
			<key>NSPortName</key>
			<string>Archivist</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
			<key>NSTimeout</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Compress to ZIP (Archivist)</string>
			</dict>
			<key>NSMessage</key>
			<string>compressHereZIP</string>
			<key>NSPortName</key>
			<string>Archivist</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
			<key>NSTimeout</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Compress to 7Z (Archivist)</string>
			</dict>
			<key>NSMessage</key>
			<string>compressHere7Z</string>
			<key>NSPortName</key>
			<string>Archivist</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
			<key>NSTimeout</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Extract Here (Archivist)</string>
			</dict>
			<key>NSMessage</key>
			<string>extractHere</string>
			<key>NSPortName</key>
			<string>Archivist</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Extract to… (Archivist)</string>
			</dict>
			<key>NSMessage</key>
			<string>extractTo</string>
			<key>NSPortName</key>
			<string>Archivist</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Test Archive (Archivist)</string>
			</dict>
			<key>NSMessage</key>
			<string>testArchive</string>
			<key>NSPortName</key>
			<string>Archivist</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
